@font-face
  font-family 'sao-home'
  src url('/fonts/Mam.otf')
  font-display swap

@font-face
  font-family 'SAOUI'
  src url('/fonts/SAOUI.ttf')
  font-display swap

//unicode-range U+0061-007A


@font-face
  font-family 'sao-home-1'
  src url('/fonts/ZhuZiAWan.ttf')
  font-display swap

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Kiwi+Maru&family=Short+Stack&display=swap')


//文章內容

#post
  font-family 'sao-home-1'

//作者導航欄
#aside-content
  .card-info
    .card-info-data
      > .card-info-data-item
        a
          .headline
            font-family 'sao-home-1'


//目錄

div
  #card-toc
    font-family 'sao-home-1'


//目錄旁的數字

#aside-content
  #card-toc
    .toc-percentage
      font-family 'sao-home'

// 時間線頁面

// #article-container
//   .timeline
//     .timeline-item
//       .timeline-item-content
//         font-size medium