[data-theme="dark"]
  .bangumi-anime_card
    .bangumi-info_section
      .bangumi-anime_header
        #hexo-bangumi-header
          color rgba(255,255,255,0.9)
        #hexo-bangumi-subheader
          color rgba(255,255,255,0.6)
        .bangumi-rankspan
          color coral
          border 1px solid rgba(255, 255, 255, 0.2);
    @media screen and (min-width: 1210px)
      .bangumi-info_section
        background linear-gradient(to right, #232323 50%, transparent 100%)
        .bangumi-anime_desc
          .bangumi-text
            color rgba(255, 255, 255, 0.3)
    @media screen and (max-width: 1210px)
      .bangumi-info_section
        background linear-gradient(to top, #232323 50%, transparent 100%)
        .bangumi-anime_desc
          .bangumi-text
            color rgba(255, 255, 255, 0.4)